<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>AdonisJs - Node.Js MVC Framework</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/dist/app.css">
</head>
<body>

  <section>
    <div class="app">
      <nav class="app__nav">
        <div class="container">
          <ul class="top-nav">
            <li class="top-nav__group top-nav__group--brand">
              <a href="/">Anime Favorites</a>
            </li>
            <li class="top-nav__group">
              <a href="/login">Login</a>
              <a href="/signup">Sign Up</a>
              <a href="">{{ currentUser }}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="app__main">
        {% if old('error') %}
          <div class="container">
            <div class="row">
              <div class="row__col row__col--1-1">
                <p class="alert alert--warning">
                  Warning: {{ old('error') }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% if old('success') %}
          <div class="container">
            <div class="row">
              <div class="row__col row__col--1-1">
                <p class="alert alert--success">
                  Success: {{ old('success') }}
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% block content %}
        {% endblock %}
      </div>

      {% block footer %}
      <div class="app__footer">
        <ul class="footer-links">
          <li>
            <a href="https://twitter.com/intent/tweet?url=http://adonisjs.com&text=I am using AdonisJs, a practical MVC framework for nodejs&hashtags=nodejs,adonisframework" target="_blank"><img src="/assets/twitter.svg"></a>
          </li>
          <li>
            <a href="https://github.com/adonisjs/adonis-framework" target="_blank"><img src="/assets/github.svg"></a>
          </li>
        </ul>
      </div>
      {% endblock %}
    </div><!-- end wrapper -->
  </section>
</body>
</html>
