{% extends "master" %}

{% block content %}
  <div class="container">
    <div class="resource-title">
      <h2>Popular Shows</h2>

      <a href="/shows/create" class="btn">
        <span class="fa fa-plus"></span>
        New Show
      </a>
    </div>

    <div class="row">
      {% for show in shows %}
        <div class="row__item--1-4">
          <div class="card">
            <h4>{{ show.title }}</h4>
            <p>listed by: {{ show.user.email }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
