body {
  margin: 0;
  background: $c-bg;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;

  font-feature-settings: 'kern', 'liga', 'pnum';
}

ul {
  padding: 0;
  list-style: none;
}
